
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import 'tailwindcss';

@theme{
    --font-Noto:"Noto Sans",sans serif;
    --color-btn: rgb(47,54,75);
    --color-btn-outline:rgb(84,89,105);
    --color-bg-neutral:rgb(33,38,54);
}


@layer components{
 .screen-dimensions{
    @apply
    w-screen
    max-w-[95%] 
    lg:max-w-[80%] 
    xl:max-w-[70%]
    2xl:max-w-[60%];
}
}

